{% extends 'base.html.twig' %}

 {% block title %}Edition du film #{{film.id}}{% endblock %}

 {% block body %}

<form method="POST">

    <p>
        <label for="name">
            Genre
        </label>
        <input type="text" name="name" id="name" value="{{film.genre.name}}" />
    </p>

    <p>
        <label for="name">
            Acteur
        </label>
        {% for acteur in film.acteurs %}
          <input type="text" name="name" id="name" value="{{acteur.nom}}" />  
        {% endfor %}
        
    </p>


   

    <p>
        <button type="submit">
            Enregistrer
        </button>
    </p>

</form>

{% endblock %}