{% extends 'base.html.twig' %}

 {% block title %}Edition du film #{{film.id}}{% endblock %}

 {% block body %}

<form method="POST">

    <p>
        <label for="name">
            Genre
        </label>
        <input type="text" name="name" id="name" value="{{genre.name}}" />
    </p>

    <p>
        <label for="name">
            Acteur
        </label>
        <input type="text" name="name" id="name" value="{{acteur.name}}" />
    </p>
   

    <p>
        <button type="submit">
            Enregistrer
        </button>
    </p>

</form>

{% endblock %}